body {
  background-image: linear-gradient(
    to top,
    #076585,
    #6387a5,
    #9dacc3,
    #d1d4e1,
    #ffffff
  );
}

.container {
  display: block;
  margin: 77px;
}

.text-bg-dark {
  margin: 0 auto;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 98%;
  font-family: "Aboreto", cursive;
}

.card-img-overlay {
  color: #000;
  margin: 10px;
}

#city-name {
  margin: 0 auto;
  display: block;
  text-align: left;
  font-size: 40px;
  position: relative;
}

#current-date {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  text-align: left;
}

#current-time {
  margin: 0 auto;
  font-size: 15px;
}

.search-bar {
  position: relative;
  top: -92px;
  left: 209px;
  width: 125px;
  height: 22px;
  font-size: 14px;
}

.search-button {
  position: relative;
  top: -93px;
  left: 200px;
  width: 30px;
  height: 22px;
  border: none;
  background: none;
}

#day-temperasture {
  font-size: 97px;
  text-align: center;
  margin: 13px 0px 51px 5px;
}
#current-forecast {
  font-style: italic;
  margin: 2px 0px 20px;
  font-size: 21px;
}

#humidity {
  font-weight: bold;
  font-size: 22px;
}
#wind {
  font-weight: bold;
  font-size: 22px;
}
